* {
    font-family: 'Tahoma';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body > header {
    background-color: #2f3640;
    padding: 16px 0;
    color: #f5f6fa;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header li {
    display: inline;
}

header li a {
    color: #f5f6fa;
    text-decoration: none;
    font-weight: bold;
    margin-left: 16px;
}

.container {
    width: 1440px;
    margin: 0 auto;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
    ;
}

.articles article img {
    /*height: 180px;*/
    width: 100%;
}

.articles article {
    width: 30%;
}

section {
    padding: 16px 0;
}

section h2 {
    margin-bottom: 16px;
}

.articles article h3 {
    margin: 8px 0;
}

.articles article a {
    background-color: blue;
    color: #fff;
    padding: 8px;
    margin-top: 8px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
}

.articles article a:hover {
    text-decoration: underline;
}

.articles article h3 {
    font-size: 24px;
}

section h2 {
    font-size: 32px;
}

#esportes {
    background-color: rgba(0, 255, 0, 0.1);
}

#esportes .articles article a {
    background-color: #089432;
}

#economia {
    background-color: #dad8b1;
}

#economia .articles article a {
    background-color: #caac25;
}

#games {
    background-color: #736483;
}

#games .articles article a {
    background-color: #5a4274;
}

#tecnologia {
    background-color: rgb(91, 159, 215);
}

#tecnologia .articles article a {
    background-color: #376686;
}

footer .rodape {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #2f3640;
}

footer .rodape p {
    height: 30px;
    padding-top: 6px;
    margin: 0 auto;
    color: #f5f6fa;
    font-weight: bold;
}